
<div class="row"><div class="col-sm-6 col-md-6">
    <div class="mb-3">
      <!-- set a width on the image otherwise it will expand to full width       -->
      <img class="img-fluid" src="../assets/plate 3.webp" alt="Card image cap" width="400">
    </div>
    <!-- /.card -->
  </div>

  <div class="col-sm-6 col-md-3 mt-3">
    <h4 class="">10" Round Palm Leaf Plate - 25 Pack</h4>
    <p class="">₹ 100</p>
    <h3 class="text-danger">Description</h3>
    <p>Sold in packs of 25 plates.</p>
    <p>Our Areca range is made from naturally fallen Areca palm leaves that would otherwise have been discarded. They are ethically produced and support local farmers in India and no chemicals are used in their production.</p>
    <p>The product is 100% biodegradable which makes it a great alternative to plastic. They will break down even if thrown into your regular bin and can also be placed into a compost bin, where they will break down and provide essential nutrients to the soil in 6-8 weeks.</p>  
</div>
</div>
