<div class="container mt-4" >

    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="card  mb-3">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img class="card-img-top img-fluid" src="../assets/plate 1.webp" alt="Card image cap" width="400">
          <div class="card-body">
            <h4 class="card-title">10" Round Palm Leaf Plate - 25 Pack</h4>
            <p class="card-text">₹ 100</p>
            <button class="btn btn-warning bttn1" (click)="getProdInfo1()">Know More</button>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-6 col-md-3">
        <div class="card mb-3">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img class="card-img-top img-fluid" src="../assets/plate 2.webp" alt="Card image cap" width="400">
          <div class="card-body">
            <h4 class="card-title">10" Round Palm Leaf Plate - 25 Pack</h4>
            <p class="card-text">₹ 100</p>
            <button class="btn btn-warning bttn1" (click)="getProdInfo2()">Know More</button>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-6 col-md-3">
        <div class="card mb-3">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img class="card-img-top img-fluid" src="../assets/plate 3.webp" alt="Card image cap" width="400">
          <div class="card-body">
            <h4 class="card-title">10" Round Palm Leaf Plate - 25 Pack</h4>
            <p class="card-text">₹ 100</p>
            <button class="btn btn-warning bttn1" (click)="getProdInfo3()">Know More</button>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-6 col-md-3">
        <div class="card mb-3">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img class="card-img-top img-fluid" src="../assets/plate 4.webp" alt="Card image cap" width="400">
          <div class="card-body">
            <h4 class="card-title">10" Round Palm Leaf Plate - 25 Pack</h4>
            <p class="card-text">₹ 100</p>
            <button class="btn btn-warning bttn1" (click)="getProdInfo4()">Know More</button>
          </div>
        </div>
        <!-- /.card -->
  
      </div>
      <!-- /.col-sm-4 -->
  
  
    </div>
    <!-- /.row -->
  
  
  </div>

  
  <!-- /.container -->
